
@using RASmartOffice.Core.Models
@model List<MeetingRoomBookingInfo>

<table id="MRBDataTbl" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr data-mrbid="@booking.ID">
                <td>@booking.Title</td>
                <td>@booking.MeetingRoomName</td>
                <td>@booking.StartTime</td>
                <td>@booking.EndTime</td>
                <td>@booking.Status.ToString()</td>
                <td>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Edit" class="btn btn-xs btn-default editAction"><i class="fa fa-edit"></i> </a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Delete" class="btn btn-xs btn-default deleteAction"><i class="fa fa-remove"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>


