
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RASmartOffice.Core.Models
@model ChangePasswordInfo

@Html.HiddenFor(model => model.UserId)

<section class="content-header">
    <h1>
        Change Password
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user"></i>Account Setting</a></li>
        <li class="active">Change Password</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.UserName</h3>
                </div>
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label redAsteriskBefore">Old Password</label>
                            <div class="col-sm-8">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label redAsteriskBefore">New Password</label>
                            <div class="col-sm-8">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label redAsteriskBefore">New Password Confirmed</label>
                            <div class="col-sm-8">
                                @Html.PasswordFor(m => m.ConfirmedNewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmedNewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-primary pull-right pwd-save-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/accountsetting/changepwd.js"></script>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            bindChangePasswordEvent();
        });

    </script>
}

